<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <div class="flex-grow-1">
          <a aria-label="Home" class="logo" routerLink="/">
            <img src="../../assets/4.png" alt="Forum Logo">
          </a>
      </div>
      <div class="flex-grow-1 float-right">
          <div *ngIf="isLoggedIn" ngbDropdown class="float-right">
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button (click)="goToUserProfile()" ngbDropdownItem>Profile</button>
                  <button (click)="logout()" ngbDropdownItem>Logout</button>
              </div>
              <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle>
                  <img class="account-icon" src="https://www.redditstatic.com/avatars/avatar_default_08_D4E815.png">
                  {{username}}
              </button>
          </div>
          <div *ngIf="!isLoggedIn">
              <a routerLink="/sign-up" class="float-right sign-up mr-2">Sign up</a>
              <a routerLink="/login" class="float-right login mr-2">Login</a>
          </div>
      </div>
  </nav>
</header>-->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-header flex-grow-1 logo">
        <a aria-label="Home" class="logo" routerLink="/">
            <img src="../../assets/4.png" alt="Forum Logo">
        </a>
    </div>

    <div  *ngIf="isLoggedIn" class="collapse navbar-collapse" id="navbarColor01">
        <app-search></app-search>
    </div>
    <div class="d-flex flex-row-reverse">
        <div *ngIf="isLoggedIn" ngbDropdown class="float-right">
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="goToUserProfile()" ngbDropdownItem>Profile</button>
                <button (click)="logout()" ngbDropdownItem>Logout</button>
            </div>
            <button class="userdetails" id="dropdownBasic1" ngbDropdownToggle>
                <img class="account-icon" src="https://www.redditstatic.com/avatars/avatar_default_08_D4E815.png">
                {{username}}
            </button>
        </div>
        <div *ngIf="!isLoggedIn">
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item"><a routerLink="/sign-up" class="nav-link"><fa-icon [icon]="faUser"></fa-icon> Sign
                        Up</a></li>
                <li class="nav-item"><a routerLink="/login" class="nav-link"><fa-icon
                            [icon]="faRightToBracket"></fa-icon> Login</a></li>
            </ul>
        </div>


    </div>

</nav>