    <footer class="bg-light text-muted">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-3 col-md-12 mb-4">
                    <div style="width: 150px; height: 150px;">
                        <img src="../../assets/4.png" height="70" alt="" loading="lazy" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 mb-4">
                    <h5 class="mb-3">TEAM INFORMATION</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1">
                            <p>Team Name: Agile Amazons</p>
                        </li>
                        <li class="mb-1">
                            <p>Team Members: Charanpreet Kaur, Gurleen Kaur, Lilian
                                Rocha, Love Joy, and Rowena Geli</p>
                        </li>
                        <li class="mb-1">
                            <p>Affiliation: Vancouver Community College - Business and
                                Project Management Post-Degree Diploma - Cohort 16F</p>
                        </li>
                        <li>
                            <p>Instructor: Min Kim</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-4">
                    <h5 class="mb-3">PROJECT DETAILS</h5>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-1">
                            <p>Project Title: Power N Pride Career Hub</p>
                        </li>
                        <li class="mb-1">
                            <p>Project Developer: Gabriela Kakimori</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2023 Copyright: Power N Pride Career Hub
        </div>
        <!-- Copyright -->
    </footer>