.login-section{
  padding: 100px;
}

.login-failed{
  text-align: center;
  margin: auto;
  margin-top: 10px;
  width: 65%;
}

.form-group {
  padding: 10px 0;
}

.button-container {
  padding-top: 10px;
}
